## Pandas!

This week we'll be looking at the `pandas` module which deals with data in tables. The main feature of table data is that every column contains a particular type of data. For example, one column may contain whole numbers, another floating-point numbers, another strings and so on.

## Importing pandas

As previously with `matplotlib`, the convention is to abbreviate `pandas`, like this:

```python
import pandas as pd
```

Try it now.

## DataFrames

In `pandas`, a table of data is called a DataFrame. There are many ways to create a DataFrame.

Here we'll create one from a dictionary. In our dictionary, the key is the column name and the value is the data for that column:

```python
data_dict = {
    "numbers": [56, 78, -12],
    "veg": ["spinach", "carrots", "cabbages"]
}
df = pd.DataFrame(data_dict)
```

## Showing values (again)

You may remember that last week we looked at the difference between using `print()` with a variable, and using a variable name on its own, to see its value.

Compare

```python
print(df)
```

and just

```python
df
```

Run each of these in a cell on its own.

The second one is a nicely formatted table, definitely preferable! The first is a plain text representation, designed to work in any format. The second only applies to interactive environments like Jupyter -- it would be ignored in a Python program. Also note that this trick only works for the last line in a cell.

The general rule: **In an interactive environment, you can put a variable (or some code that returns a value) on the last line, and the environment will show it in the best way it can**.

So for example, you can use:

```python
1000/26
```

instead of:

```python
print(1000/26)
```

## Data by column

It seems somewhat unoriginal, but this structure is known as a `DataFrame` in `pandas`.

You can select a whole column by using its name in square brackets:

```python
df["numbers"]
```

## New columns

You can create a new column quite easily:

```python
df["morenumbers"] = [0.1, 0.5, 0.8]
```

## A bit of maths

You can use arithmetic on these data in a similar way to a NumPy array, e.g.

```python
df["numbers"] + 1000
```

As you might expect you can also work with whole columns together, as long as they are the same size:

```python
df["numbers"] + df["morenumbers"]
```

And finally, you can store the result of such an operation in a new column of its own:

```python
df["tinynumbers"] = df["numbers"] / 100
```

## Loading data

`pandas` is good at loading data in all sorts of formats. Let's load a dataset into a table, so we have more example data to work with.

As an example, we'll use some data on exoplanets (planets orbiting starts other than the Sun).

Our exercise will be to find a planet that might be habitable for humans!

Download the file `planets.csv` on the course web page, and upload it to the server.

This file was generated from the NASA Exoplanet Archive. By way of attribution for these data:

> This tutorial makes use of the NASA Exoplanet Archive, which is operated by the California Institute of Technology, under contract with the National Aeronautics and Space Administration under the Exoplanet Exploration Program.

> http://exoplanetarchive.ipac.caltech.edu/

CSV is the most common, and most widely used format for table data. If you need to, `pandas` will also read Excel, HDF, JSON and a few others.

In this case we have the data in CSV. Try this:

```python
data = pd.read_csv("planets.csv")
```

## It failed!

Real data are messy! Never mind, let's take a look and see what's wrong.

Fortunately CSV data are just text, so we can easily look at the file. Click on `planets.csv` in your Jupyter files and it will show you the raw text of the file.

You'll see from this that the data have a preamble with definitions of the columns. We could probably go back to NASA and get the data without the preamble, or we could delete it manually -- but a better option would be to get `pandas` to just ignore those lines. That way we keep the metadata with the data.

## Exercise: Loading data into pandas

Have a look at the documentation for `read_csv()`. Search and read the entry for the parameter `comment=`

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv

Use `pd.read_csv()` with this parameter, in order to ignore the preamble in the data file.

## dtypes

In `pandas` (and `numpy`, as it happens) `dtype` means "data type".

These data types are related to the types you're used to in Python. You can take a look at the type of a single column with, for example:

```python
data["pl_pnum"].dtype
```

or

```python
data["pl_orbper"].dtype
```

In this case you'll see the data types are `'int64'` and `'float64'`.

The first of these indicates an **integer**, i.e. whole number.

The second indicates a **floating-point number**. This is a number where the digits of the number and the order of magnitude are stored separately, as in scientific notation. For example in the number

$2.345 \times 10 ^{11}$

the digits of the number are 2.345 and the order of magnitude (i.e. power of 10) is 11. It isn't necessary to remember this to use floating point numbers -- just remember you'll use them where you're dealing with very large numbers or numbers with a fraction.

In both cases the `64` indicates that the number is stored in 64 bits of computer memory. A bit is a binary value (0 or 1). Again, it's not necessary to understand this to use data types -- it only becomes relevant if you need to worry about very precise values, or very large amounts of data.

In `pandas` any non-numeric data is stored as type `object`. This means that anything you can store in Python, you can put into a `pandas` DataFrame. Typically this is used to store strings. For example:

```python
data["pl_hostname"].dtype
```

The data type given is 'O' for object.

You can get all the dtypes for a DataFrame like this:

```python
data.dtypes
```

## Size of a DataFrame

Just like a NumPy array, you can get the size of a `DataFrame` using `.shape`:

```python
data.shape
```

You'll see that (again as in NumPy) this gives number of rows, followed by number of columns.

## More information about the DataFrame

You can get a summary with:

```python
data.info()
```

## Indexing and labels

In `pandas` every row and every column has a label. The labels are the parts shown in bold when you view the table -- see the first row and the leftmost column.

Use `.loc` to index by labels. 

By default data loaded from CSV is labeled with:

* for columns, the headers that were given in the file
* for rows, integers starting at zero

For example, you could get the 7th (index 6) element of the column "pl_hostname" like this:

```python
data.loc[2:6,"pl_hostname"]
```

`.iloc` is used to index by numerical indexes. So regardless of labels, the first column (or first row) is always 0, the second is 1, and so on. Since "pl_hostname" is the second column, we can get the same information as the last example with:

```python
data.iloc[6,1]
```

## Filtering data

Let's look for some habitable planets! First we're going to check that the estimated surface temperature is within some reasonable bounds. Let's first check it's not too hot. All the temperatures in the table are in Kelvin, so let's say that 323K (50&deg;C) is a reasonable upper bound.

To filter on a particular data value, you can use something like this:

```python
data.loc[data["pl_eqt"] < 323]
```

Why does this work? Try just the condition on its own:

```python
data["pl_eqt"] < 323
```

This generates a column of `True` and `False` values -- plugging this in to the dataset returns only those rows where the column has `True`.

## Tidying up

There's a lot in that `DataFrame`. To tidy it up, we can just show those columns we want.

From the data file:

```python
# COLUMN pl_hostname:    Host Name
# COLUMN pl_pnum:        Number of Planets in System
# COLUMN pl_orbper:      Orbital Period [days]
# COLUMN st_dist:        Distance [pc]
# COLUMN pl_eqt:         Equilibrium Temperature [K]
# COLUMN pl_masse:       Planet Mass [Earth mass]
# COLUMN st_spstr:       Spectral Type
```

To ask for these, we can give a list of columns when indexing, instead of a single column:

```python
columns = [
    "pl_hostname","pl_pnum","pl_orbper",
    "st_dist","pl_eqt","pl_masse","st_spstr"
]
data.loc[data["pl_eqt"] < 323, columns]
```

## Exercise: Goldilocks

Of course we want to find a planet that's not too hot or too cold.

Find all the planets where the surface temperature is greater than 223 Kelvin (-50&deg;C). There are 381 of them! If you don't want to scroll down to the bottom of the table to see how many there are, remember that you can use `.shape` to check the size of a DataFrame.

## Combining conditions

How do we combine these? Unfortunately we can't just use the word `and`, as we have before in Python.

Instead `pandas` uses `&` for "and", `|` for "or", and `~` for "not". So here we'll use `&`, as we want both conditions to be true.

```python
data.loc[(data["pl_eqt"] < 323) & (data["pl_eqt"] > 223)]
```

It's important to put brackets around the conditions you're combining.

Alternatively, you can evaluate your conditions first, and name them:

```python
cool_enough = data["pl_eqt"] < 323
hot_enough = data["pl_eqt"] > 223
data.loc[cool_enough & hot_enough]
```

This is clearer, and giving your conditions a name makes it clear to others (and your future self!) what the meaning of the code is.

## Exercise: Another condition

Let's say we want our planet to be orbiting a star within 100 light years of our sun. There's a column for this, the distance from our star to the remote star:

```python
# COLUMN st_dist:        Distance [pc]
```

This is in parsecs, but we want it to be in light years. One parsec is about 3.26 light years.

First, create a new column called `st_dist_ly`. Set this to the distance to the remote star in light years.

Now use a condition on that column to find only those stars within 100 light years.

Finally, combine this with the other conditions to find a planet that is not too hot, not too cold, and not too far away.

You should see two planets, HD 85512-b and Proxima Cen-b.

One of them is at Proxima Centauri, which is the nearest other star to the Sun!

<p style="text-align: center">**Proxima Centauri (NASA)**</p>
![Proxima Centauri](http://softdev.ppls.ed.ac.uk/static/images/nasa_proxima.png)